.products {
    display: flex;
    flex-direction: column;
}

.products__container {
    display: flex;
    flex-direction: column;
}
.container {
    margin: 0 auto;
    padding: 10px 20px;
    max-width: 1280px;
}

.products__header {
}
.products__heading {
}
.products__list {
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    align-items: stretch;
}
.products__item {
}
.product-item {
    position: relative;
}
.product-item__link {
    position: relative;
    padding: 0 20px 60px 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #eee;
    border-radius: 8px;
    transition: opacity ease-in-out 0.3s;
}
.product-item__link::after {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 4px #ddd9d9;
    opacity: 0;
    transition: opacity ease-in-out 0.3s;
}
.product-item__link:focus::after, .product-item__link:hover::after {
    opacity: 1;
}

.product-item__image {
    margin: 0 -20px 20px -20px;
    /* width: calc(100% + 40px); */
    max-width: calc(100% + 40px);
    height: 265px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}
.product-item__heading {
    margin-bottom: 5px;
}
.product-item__description {
    margin-bottom: 5px;

}
.product-item__price {
    align-self: flex-end;
    font-weight: 600;
    font-size: 2em;
    color: #333;
}

.product-item__add-to-cart {
    position: absolute;
    bottom: 20px;
    left: 20px;
}


.product {
}
.product__container {
}

.product__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.product__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 8px;
    overflow: hidden;
}
.product__image {
}
.product-image {
    height: 175px;
}
.product-image_big {
    grid-column: 1 / span 2;
    height: 250px;
}

.product-image__image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
}
.product__info {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.product__header {
    align-self: flex-end;
    margin-bottom: 10px;

}
.product__heading {
}
.product__price {
    align-self: flex-end;
    font-weight: 700;
    font-size: 3em;
    color: orangered;
}
.product__buy {
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: orangered;
    color: #eee;
    border: 1px solid #eee;
}
.product__description {
    margin-bottom: 20px;
}

.product__imgs {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.product__img {
    height: 200px;
    object-fit: cover;
}

.product-search__suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    max-height: 200px;
    overflow-y: auto;
    background-color: var(--block-bg-color);
    border: 1px solid var(--block-border-color);
    border-radius: var(--half-gap);
    opacity: 0;
    transition: opacity ease-in-out 0.3s;
}

.product-search__suggestions:has(.product-search__suggestion-item) {
    opacity: 1;
}

.product-search__suggestion-item {
    padding: var(--field-padding);
    transition-property: color, background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.product-search__suggestion-item:hover {
    background-color: var(--choice-highlighted-color);
}