{% comment %} <div class="field-container just-validate-tooltip-container">
    <label class="custom-field">
        {% if field.field.widget.attrs.placeholder != " " %}
        <span class="custom-field__label">{{ field.label }}</span>
        {% endif %}
        <input class="custom-field__input{% if form.estimate.value %} _readonly{% endif %}" type="{{ field.field.widget.input_type }}"
            name="{{ form.prefix }}-{{ field.name }}" id="id_{{ form.prefix }}-{{ field.name }}" 
            {% if field.value %} value="{{ field.value }}"{% endif %}
            {% for name, value in field.field.widget.attrs.items %}
                {% if value is not False %} {{ name }}
                    {% if value is not True %}="{{ value }}"{% endif %}
                {% endif %}
            {% endfor %}
            {% if form.estimate.value %} disabled{% endif %}
            {% if form.service.field.required %} required{% endif %}
        />
        {% if field.field.widget.attrs.placeholder == " " %}
        <span class="custom-field__placeholder">{{ field.label }}</span>
        {% endif %}
        {% if field.errors %}
        <span class="custom-field__error-message" aria-live="polite">{{ field.errors }}</span>
        {% endif %}
    </label>
</div> {% endcomment %}

<label class="custom-field">
    {% if field.field.widget.attrs.placeholder != " " %}
    <span class="custom-field__label">{{ field.label }}</span>
    {% endif %}
    {{ field }}
    {% if field.field.widget.attrs.placeholder == " " %}
    <span class="custom-field__placeholder">{{ field.label }}</span>
    {% endif %}
    {% if field.errors %}
    <span class="custom-field__error-message" aria-live="polite">{{ field.errors }}</span>
    {% endif %}
</label>
