{% extends 'base.html' %}
{% load static %}
{% block title %}Смена пароля{% endblock title %}

{% block css %}
    <link href="{% static 'css/app_user/user.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<section class="user">
    <div class="user__container container">
        <div class="user__header">
            <h2 class="user__heading">Смена пароля</h2>
        </div>
        <form method="post" class="form form_reg" >
            {% csrf_token %}
            {% include "widgets/_custom-form.html" %}
            <div class="form__btn-block">
                <button class="form__btn btn btn_reset" type="submit">сменить пароль</button>
            </div>
        </form>
        <a href="{% url 'app_user:profile'  request.user.pk%}">Вернуться в профиль</a>
    </div>
</section>
{% endblock %}