{% extends 'base.html' %}
{% load static %}
{% block title %}Сброс пароля{% endblock title %}

{% block css %}
    <link href="{% static 'css/app_user/user.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<section class="user">
    <div class="user__container container">
        <div class="user__header">
            <h2 class="user__heading">Пароль успешно сброшен</h2>
        </div>
        <p>Новый пароль установлен. Вы можете <a href="{% url "app_user:login" %}">Войти в систему</a></p>
    </div>
</section>

{% endblock %}