{% autoescape off %}

<body bgcolor="#eeeeee">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="box-shadow: 2, 2, 2, #666">
        <td align="center" bgcolor="#e76f3d" style="padding: 15px 30px; color: #fff; font-family: sans-serif; font-weight: bold; letter-spacing: 3px; border-bottom: 2px solid #ccc;background-color:#e76f3d!important;">
            УВЕДОМЛЕНИЕ
        </td>
        <tbody>

            <td align="center" bgcolor="#0a75ad" style="padding: 40px 0 30px 0; border-bottom: 2px solid #ccc;">
                <img src="http://email.cw30554.tmweb.ru/email/small_logo.png" alt="Логотип renet.DOCS" width="300"
                style="display: block;" />
            </td>
            <tr>
                <td bgcolor="#eee"
                    style="padding: 40px 30px 40px 30px; border-right: 1px solid #ccc; border-left: 1px solid #ccc;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td style="color: #333; font-family: Arial, sans-serif; font-size: 16px;">
                                <p>Кто-то запросил сброс пароля для аккаунта с почтовым ящиком: {{ email }}.</p>
                                <p>Ссылка для сброса пароля: {{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>
                                <p>Ваш логин, если вы забыли: {{ user.get_username }}.</p>
                                <p>Если вы не отправляли запрос - проигнорируйте данное письмо.</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center" bgcolor="#eee" height="50"
                    style="color:#68417f; border-right: 1px solid #cccccc; border-left: 1px solid #cccccc; border-bottom: 2px solid #ccc; font-family: Arial, sans-serif; font-size: 16px;">
                    Хорошего рабочего дня
                </td>
            </tr>
            <tr>
                <td bgcolor="#eee" style="padding: 20px 30px 20px 30px; border: 1px solid #cccccc;">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td align="left" style="color:#7C7C7C; font-family: Arial, sans-serif; font-size: 16px; font-weight: 900; font-size: 30px;">
                                РЕНЕТ КОМ
                            </td>
                            <td align="right">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>
                                            <a href="https://www.instagram.com/renetcom_sar/">
                                                <img src="http://email.cw30554.tmweb.ru/email/instagram.png" alt="Instagram" width="30" height="30"
                                                    style="display: block;" border="0" />
                                            </a>
                                        </td>
                                        <td style="font-size: 0; line-height: 0;" width="10">&nbsp;</td>
                                        <td>
                                            <a href="https://vk.com/renetcom">
                                                <img src="http://email.cw30554.tmweb.ru/email/vk.png" alt="ВКонтакте" width="30" height="30"
                                                    style="display: block;" border="0" />
                                            </a>
                                        </td>
                                        <td style="font-size: 0; line-height: 0;" width="10">&nbsp;</td>
                                        <td>
                                            <a href="https://www.facebook.com/renetcom/">
                                                <img src="http://email.cw30554.tmweb.ru/email/fb.png" alt="Facebook" width="30" height="30"
                                                    style="display: block;" border="0" />
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
{% endautoescape %}
