{% extends 'base.html' %}
{% load static %}
{% block title %} Восстановление пароля{% endblock title %}

{% block css %}
    <link href="{% static 'css/app_user/user.css' %}" rel="stylesheet">
{% endblock css %}



{% block content %}
<section class="user">
    <div class="user__container container">
        <div class="user__header">
            <h2 class="user__heading">Восстановление пароля</h2>
        </div>
        <form class="form form_reg" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Введите адрес электронной почты для получения ссылки сброса пароля</p>
            {% if form.email.errors %}{{ form.email.errors }}{% endif %}
            <label class="custom-field">
                <input class="custom-field__input" type="email" name="email" autocomplete="off" maxlength="254" required id="id_email" placeholder="">
                <span class="custom-field__placeholder">Электронная почта</span>
            </label>
            <div class="form__btn-block">
                <button class="form__btn btn btn_reset" type="submit">ok</button>
            </div>
        </form>
        <p class="access__help access__help_hidden access__link">
            <a href="{% url 'app_user:login' %}">Вход</a>
        </p>
    </div>
</section>
{% endblock %}
