{% extends 'base.html' %}
{% load static %}
{% block title %}Сброс пароля{% endblock title %}

{% block css %}
    <link href="{% static 'css/app_user/user.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<section class="user">
    <div class="user__container container">
        <div class="user__header">
            <h2 class="user__heading">Сброс пароля</h2>
        </div>
        <p>Мы отправили письмо с инструкцией на указанный адрес.</p>
        <p>Если Вы не получили письмо, проверьте, что Вы ввели корректный почтовый адрес.</p>
        <a href="{% url 'app_user:login' %}">Вход</a>
    </div>
</section>

{% endblock %}