{% extends 'base.html' %}
{% load static %}
{% block title %}Сброс пароля{% endblock title %}

{% block css %}
    <link href="{% static 'css/app_user/user.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<section class="user">
    <div class="user__container container">
        <div class="user__header">
            <h2 class="user__heading">Новый пароль</h2>
        </div>
        {% if validlink %}
            <form class="access__form" action="" method="post">
                {% csrf_token %}
                <div class="access__top">
                    <img class="access__renet-logo" src="{% static 'img/bg/logo_renet_svg.svg' %}" alt="">
                    <div class="access__logo">{% include "include/small_logo_2.html" %}</div>
                </div>
                <div class="access__block">
                    <label class="custom-field">
                        <input type="password" class="custom-field__input" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" placeholder="">
                        <span class="custom-field__placeholder">Введите Новый пароль</span>
                    </label>
                </div>
                <div class="access__block">
                    <label class="custom-field">
                        <input type="password" class="custom-field__input" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" placeholder="">
                        <span class="custom-field__placeholder">Подтвердите новый пароль</span>
                    </label>
                </div>
                <input  type="submit" class='access__btn btn btn_reset btn_simple' value="Установить пароль" />
            </form>
        {% else %}
            <h1>Сброс пароля отменён</h1>
            <p>Ссылка для сброса пароля недействительна. Возможно, вы уже использовали данную ссылку. Поворите запроса на сброс пароля.</p>
        {% endif %}
    </div>
</section>

{% endblock %}