{% extends 'base.html' %}
{% load static %}


{% block title %}Список товаров{% endblock title %}


{% block css %}
<link href="{% static 'css/pagination.css' %}" rel="stylesheet">
<link href="{% static 'app_shop/css/shop.css' %}" rel="stylesheet">
{% endblock css %}


{% block content %}
{% comment %} {% if filter_form %}
    {% include 'include/filter.html' %}
{% endif %} {% endcomment %}
<section class="products">
    <div class="products__container container">
        <div class="products__header">
            <h2 class="products__heading">Товары</h2>
            <form id="filter-form" >
                {{ filter_ordering_form.as_p }}
            </form>
        </div>
        <div id="product-list">
            {% include 'app_shop/include/_body-product-list.html' %}
        </div>
    </div>
</section>
{% endblock content %}


{% block script %}
<script>
    const filterOrderForm = document.querySelector('#filter-form');
    const productsContainer = document.querySelector('#product-list');

    filterOrderForm.addEventListener('change', function (e) {
        e.preventDefault();
        const formData = new FormData(filterOrderForm);
        const params = new URLSearchParams(formData).toString();
        const url = `?${params}`;
        updateProductList(url);
    });

    productsContainer.addEventListener('click', function (e) {
        if (e.target.classList === 'pagination__link') {
            e.preventDefault();
            const url = e.target.href;
            updateProductList(url);
        }
    });

    function updateProductList(url) {
        fetch(url, {
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'  // <-- добавляем заголовок
                }
            })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                productsContainer.innerHTML = data.html;
                window.history.pushState(null, '', url); // Обновляем URL
            })
            .catch(err => console.error('Ошибка загрузки данных:', err));
    }

    const totalPrice = document.querySelector('#total_price');
    const totalQuantity = document.querySelector('#total_quantity');

    function AddProductToCart(event) {
        event.preventDefault();
        const actionForm = event.target;
        const actionFormBtn = actionForm.querySelector('.btn');
        actionFormBtn.disabled = true;
        const formData = new FormData(actionForm);
        fetch(actionForm.action, {
            method: 'POST',
            url: this.url,
            body: formData,
            headers: { 'X-Requested-With': 'XMLHttpRequest' }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                totalPrice.textContent = parseFloat(data.total_price).toFixed(2);
                totalQuantity.textContent = data.total_quantity;
            }
        });
        actionFormBtn.disabled = false;
    };
    </script>
{% endblock script %}