{% extends 'base.html' %}
{% load static %}
{% load users_tag %}


{% block title %}Профиль пользователя {{ user.get_full_name|default:user.username }}{% endblock title %}


{% block css %}
<link href="{% static 'css/app_user/user.css' %}" rel="stylesheet">

{% endblock css %}


{% block content %}
{% for message in messages %}
    <p>{{ message }}</p>
{% endfor %}
<section class="user">
    <div class="user__container container">
        <div class="user__header">
            <h2 class="user__heading">Профиль пользователя {{ user.get_full_name|default:user.email }}</h2>
            {% if "Обычный пользователь" in user.groups.all|join:", " %}
                <span>Ваш аккаунт проходит проверку, после её завершения вы сможете создать блог</span>
            {% endif %}
        </div>
        <div class="user__info">
            <div class="user__avatar-wrapper">
                {% if user.profile.avatar %}
                    <img class="user__avatar" src="{{ user.profile.avatar.url }}" alt="Аватар">
                {% else %}
                    <img class="user__avatar" src="{% static 'imgs.avatar.png' %}" alt="Аватар">
                {% endif %}
            </div>
            <div class="user__details user-details">
                <h3 class="user-details__heading subheadings">Персональная информация</h3>
                <div class="data">
                    <dl class="data__item">
                        <dt class="data__label">Имя пользователя</dt>
                        <dd class="data__value">{{ user.email }} {{ user.is_superuser }}</dd>
                    </dl>
                    <dl class="data__item">
                        <dt class="data__label">Имя</dt>
                        <dd class="data__value">{{ user.first_name }}</dd>
                    </dl>
                    <dl class="data__item">
                        <dt class="data__label">Фамилия</dt>
                        <dd class="data__value">{{ user.last_name }}</dd>
                    </dl>
                    <dl class="data__item">
                        <dt class="data__label">Электронная почта</dt>
                        <dd class="data__value">{{ user.email }}</dd>
                    </dl>
                    <dl class="data__item">
                        <dt class="data__label">Телефон</dt>
                        <dd class="data__value">{{ user.profile.phone }}</dd>
                    </dl>
                    <dl class="data__item">
                        <dt class="data__label">Дата рождения</dt>
                        <dd class="data__value">{{ user.profile.birthdate }}</dd>
                    </dl>
                    <dl class="data__item">
                        <dt class="data__label">Город проживания</dt>
                        <dd class="data__value">{{ user.profile.location }}</dd>
                    </dl>
                    <dl class="data__item">
                        <dt class="data__label">О себе</dt>
                        <dd class="data__value">{{ user.profile.bio|default:"Тайна" }}</dd>
                    </dl>
                    <dl class="data__item">
                        <dt class="data__label">Верифицирован</dt>
                        <dd class="data__value">{% if user.profile.is_verified == True %}Да{% else %}Нет{% endif %}</dd>
                    </dl>
                    <dl class="data__item">
                        <dt class="data__label">Роль</dt>
                        <dd class="data__value">
                            {% for group in user.groups.all %}
                                <p>{{ group.name }}</p>
                            {% endfor %}
                        </dd>
                    </dl>
                </div>
                <div class="btns">
                    <a class="user__delete-account btn btn_reset btn_simple" href="{% url 'app_user:delete_account' %}">Удалить аккаунт</a>
                    <a class="user__delete-account btn btn_reset btn_simple" href="{% url 'app_user:change_password' %}">Сменить пароль</a>
                </div>
            </div>
        </div>
        <div class="user__blogs user-blogs">
            <h3>История заказов</h3>
            <ul>
            {% for order in orders %}
                <li>Заказ #{{ order.id }} - Создан: {{ order.created_at }}</li>
            {% empty %}
                <li>Заказов пока нет</li>
            {% endfor %}
            </ul>
            <a href="{% url 'app_user:delete_account' %}">Удалить аккаунт</a>
        </div>
    </div>
</section>
{% endblock content %}


{% block script %}
{% endblock script %}


